.container{
    background-color: white;
}
.header-1{
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
}
.header-2{
    background-color: white;
    color:lightgray;
    text-align: right;
    text-decoration: none;
    padding-top: 8px;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}
a{
    color: darkgray;
}
a:hover,a:active{
    color: #4aaaa5;
    text-decoration: none;
}
.contact{
    color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Bree Serif', serif;
}
section{
    background-color: lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
}
input{
    width: 100%;
}
.mess{
    height: 200px;
}
.footer{
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: #4aaaa5;
    background-color: darkgray;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 9px;
}
@media screen and (max-width:760px){
    .header-1{
        width: 50%;
        font-size: 20px;
        padding-top: 18px;
    }
    .header-2{
        width: 50%;
        font-size: 20px;
    }
}@media screen and (max-width:320px){
    .header-1{
        width: 50%;
        font-size: 10px;
    }
    .header-2{
        width: 50%;
        font-size: 10px;
    }
    h1{
        font-size: 15px;
    }
}
