.container{
    background-color: white;
}
section{
    background-color: lightgray;
    padding-top: 36px;
    padding-bottom: 35px;
    padding-left: 0px;
    padding-right: 0px;
}
.header-1{
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
}
.header-2{
    background-color:white;
    color:lightgray;
    text-align: right;
    text-decoration: none;
    padding-top: 8px;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}
a{
    color: darkgray;
    text-decoration: none;
}
a:hover,a:focus,a:active{
    color: #4aaaa5;
    text-decoration: none;
}
.bio{
    line-height: 28px;
    padding-top: 10px;
    font-family:'Noto Sans JP', sans-serif;
}
hr{
    color: darkgray;
}
img{
    float: left;
    margin-right: 10px;
}
.aboutMe{
    color: #4aaaa5;
    padding-top: 10px;
    font-family: 'Bree Serif', serif;
}
.footer{
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: #4aaaa5;
    background-color: darkgray;
    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 9px;
}
@media screen and (max-width:760px){
    .header-1{
        width: 50%;
        font-size: 20px;
        padding-top: 18px;
    }
    .header-2{
        width: 50%;
        font-size: 20px;
    }
    .bio{
        margin: 5px;
    }
    h1{
        font-size: 20px;
    }
    p{
        font-size: 15px;
        line-height: 20px;
    }
    img{
        height: 150px;
        width: 150px;
    }

}
@media screen and (max-width:320px){
    .header-1{
        width: 50%;
        font-size: 10px;
    }
    .header-2{
        width: 50%;
        font-size: 10px;
    }
    h1{
        font-size: 15px;
    }
    p{
        line-height: 20px;
        font-size: 15px;
    }
}