.container{
    background-color: white;
}
section{
    background-color: lightgray;
    padding-top: 38px;
    padding-bottom: 38px;
}
.header-1{
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
}
.header-1:hover{
    background-image: url(../images/prism.jpg);
    font-size: 40px;
    letter-spacing: 1px;
}
.header-2{
    background-color: white;
    color:lightgray;
    text-align: right;
    text-decoration: none;
    padding-top: 8px;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}
a{
    color: darkgray;
    text-decoration: none;
}
a:hover,a:focus,a:active{
    color: #4aaaa5;
    text-decoration: none;
}
.portfolio{
    color: #4aaaa5;
    padding-top: 10px;
    font-family: 'Bree Serif', serif;
}
#software{
    color: black;
}
.apps{
    text-align: center;
}
.day-planner{
    text-decoration: none;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    position: relative;
    bottom: 45px;
    left: 21.25%;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: bold ;
}
.day-planner:hover{
    background-image: url(../images/prism.jpg);
}
.video-game:hover{
    background-image: url(../images/prism.jpg);
}
.javascript-quiz:hover{
    background-image: url(../images/prism.jpg);
}
.rock-paper-scissors:hover{
    background-image: url(../images/prism.jpg);
}
.weather-dashboard:hover{
    background-image: url(../images/prism.jpg);
}
.video-game{
    text-decoration: none;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    position: relative;
    bottom: 45px;
    left: 21.25%;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: bold ;
}
.javascript-quiz{
    text-decoration: none;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    position: relative;
    bottom: 45px;
    left: 21.25%;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: bold ;
}
.weather-dashboard{
    text-decoration: none;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    position: relative;
    bottom: 45px;
    left: 21.25%;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: bold ;
}
.rock-paper-scissors{
    text-decoration: none;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    position: relative;
    bottom: 45px;
    left: 21.25%;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: bold ;
}
.footer{
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: #4aaaa5;
    background-color: darkgray;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 9px;
}
img{
    border: 2px solid black;
}
.margin{
    margin-left: 145px;
}
@media screen and (min-width:320px){
    .header-1{
        width: 50%;
        font-size: 30px;
        padding-top: 10px;
        padding-bottom:10px;
    }
    .header-2{
        width: 50%;
        font-size: 20px;
    }
    h1{
        font-size: 15px;
    }
    img{
        margin: 5px;
    }
    
}
@media screen and (min-width:760px){
    .header-1{
        width: 50%;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom:10px;
    }
    .header-2{
        width: 50%;
        font-size: 20px;
    }
}
@media screen and (min-width:1240px){
    h1{
        font-size: 40px;
    }
}